<hr class="my-3">
<h2 class="h6">Recurrence</h2>
<div class="row g-2">
  <div class="col-md-3">
    <label class="form-label">Type</label>
    <select name="task[recurrence][type]" class="form-select" data-controller="recurrence">
      <%= options_for_select([["None",""], ["Daily","daily"], ["Weekly","weekly"], ["Monthly","monthly"]], "") %>
    </select>
  </div>
  <div class="col-md-3">
    <label class="form-label">Every</label>
    <div class="input-group">
      <input type="number" name="task[recurrence][interval]" min="1" value="1" class="form-control">
      <span class="input-group-text">interval(s)</span>
    </div>
  </div>

  <!-- Weekly options -->
  <div class="col-md-6" data-recurrence-target="weekly" hidden>
    <label class="form-label">Days of week</label>
    <div class="d-flex flex-wrap gap-2">
      <% %w[monday tuesday wednesday thursday friday saturday sunday].each do |d| %>
        <label class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="task[recurrence][days][]" value="<%= d %>">
          <span class="form-check-label text-capitalize"><%= d %></span>
        </label>
      <% end %>
    </div>
  </div>

  <!-- Monthly options -->
  <div class="col-md-3" data-recurrence-target="monthly" hidden>
    <label class="form-label">Day of month</label>
    <input type="number" min="1" max="31" name="task[recurrence][day]" class="form-control" placeholder="e.g. 15">
  </div>
</div>
